<page-header [title]="context.id?'x_Aggregate_x：'+context.id:'新增'"
             *ngIf="context">
</page-header>

<nz-card *ngIf="context">

  <form nz-form
        autocomplete="off">
    <nz-form-item>
      <nz-form-label>姓名</nz-form-label>
      <nz-form-control>
        <input nz-input
               [formControl]="context.entityForm.controls.name">
      </nz-form-control>
    </nz-form-item>
  </form>

  <div style="display: flex;
          text-align: center;
          gap: 10px;
          justify-content: center;">
    <button nz-button
            type="button"
            (click)="close()"><i nz-icon
         nzType="rollback"
         nzTheme="outline"></i>返回</button>
    <span nz-tooltip
          [nzTooltipTitle]="context.disabled?'已禁用编辑.':''">
      <button nz-button
              type="submit"
              nzType="primary"
              [disabled]="context.disabled"
              (click)="submit()">
        <i nz-icon
           nzType="save"
           nzTheme="outline"></i>保存</button>
    </span>

  </div>


</nz-card>
