<div class="box"
     nz-row>
  <div nz-col
       nzSpan="8"
       class="box-left"
       *ngIf="!isMobile">
    <div class="header">
      <img class="logo"
           src="./assets/logo-txt-white-shield.svg">
    </div>
    <div class="content">
      <p>融资管理与分析系统</p>
      <p>专业的融资管理与分析管理系统，支持各种类型的融资管理，支持外币融资，支持灵活的利息计息方式处理，实现融资管理的高效率、智能化与数字化！</p>
    </div>
    <div class="footer">
      <div nz-row>
        <div nz-col
             nzXXl="12"
             nzXl="24"><i nz-icon
             nzType="book"
             style="color:white;"
             nzTheme="outline"></i>&nbsp;融资授信管理
        </div>
        <div nz-col
             nzXl="24"
             nzXXl="12">
          <i nz-icon
             style="color: white;"
             nzType="appstore"
             nzTheme="outline"></i>&nbsp;融资立项管理
        </div>
      </div><br>
      <div nz-row>
        <div nz-col
             nzXl="24"
             nzXXl="8">
          <i nz-icon
             style="color: white;"
             nzType="dollar"
             nzTheme="outline"></i>&nbsp;融资合同管理
        </div>
        <div nz-col
             nzXXl="8"
             nzXl="24">
          <i nz-icon
             style="color: white;"
             nzType="area-chart"
             nzTheme="outline"></i>&nbsp;智能统计分析
        </div>
        <div nz-col
             nzXXl="8"
             nzXl="24">
          <i nz-icon
             style="color: white;"
             nzType="fund"
             nzTheme="outline"></i>&nbsp;融资看板大屏
        </div>
      </div>
    </div>
  </div>
  <div nz-col
       [nzSpan]="isMobile?'24':16">
    <router-outlet></router-outlet>
  </div>

</div>
